@using DevScienceAdminUI.Models;
@model List<ProjectViewModel>

<!DOCTYPE html>
<html>
<head>
    <title>DevScience</title>
    <meta charset="utf-8" />
</head>
<body>
    <h2>Project count: @Model.Count</h2>
    <table border="1">

        <tr>
            <th><b>Name:</b></th>
            <th><b>Description:</b></th>
            <th><b>Employees:</b></th>
            <th><b>Technologies:</b></th>
            <th><b>RequestId:</b></th>
        </tr>
    @foreach (var project in Model)
    {
        <tr>
            <td>@project.Name</td>
            <td>@project.Description</td>
            <td>
                @if (project.EmployeeId is not null && project.EmployeeId.Any())
                {
                    @foreach (var employee in project.EmployeeId)
                    {
                            <a href="Employees/Index/@employee.Telegram">@employee.Telegram <br /></a>
                    }
                
                }
            </td>
            <td>
                @foreach (var techonolgy in project.Technology)
                {
                    @techonolgy <br/>
                }
            </td>
            <td>
                @if(project.RequestId is not null)
                {
                    @foreach(var request in project.RequestId)
                    {
                        @request.Telegram <br/>
                    }
                }
            </td>
        </tr>
    }
    </table>
    <h1><a href="Auth">Auth</a></h1>
</body>
</html>
